src/DemoSignalR.Client/Connected Services/ServiceSignalR/ServiceMain.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendWAAPI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWAAPIResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendWAAPIModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendWAAPIModelResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendWAAPISoapIn">
    <wsdl:part name="parameters" element="tns:SendWAAPI" />
  </wsdl:message>
  <wsdl:message name="SendWAAPISoapOut">
    <wsdl:part name="parameters" element="tns:SendWAAPIResponse" />
  </wsdl:message>
  <wsdl:message name="SendWAAPIModelSoapIn">
    <wsdl:part name="parameters" element="tns:SendWAAPIModel" />
  </wsdl:message>
  <wsdl:message name="SendWAAPIModelSoapOut">
    <wsdl:part name="parameters" element="tns:SendWAAPIModelResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceMainSoap">
    <wsdl:operation name="SendWAAPI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">JSON</wsdl:documentation>
      <wsdl:input message="tns:SendWAAPISoapIn" />
      <wsdl:output message="tns:SendWAAPISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendWAAPIModel">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">JSON</wsdl:documentation>
      <wsdl:input message="tns:SendWAAPIModelSoapIn" />
      <wsdl:output message="tns:SendWAAPIModelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceMainSoap" type="tns:ServiceMainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendWAAPI">
      <soap:operation soapAction="http://tempuri.org/SendWAAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWAAPIModel">
      <soap:operation soapAction="http://tempuri.org/SendWAAPIModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceMainSoap12" type="tns:ServiceMainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendWAAPI">
      <soap12:operation soapAction="http://tempuri.org/SendWAAPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendWAAPIModel">
      <soap12:operation soapAction="http://tempuri.org/SendWAAPIModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMain">
    <wsdl:port name="ServiceMainSoap" binding="tns:ServiceMainSoap">
      <soap:address location="http://localhost/SignalR/ServiceMain.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceMainSoap12" binding="tns:ServiceMainSoap12">
      <soap12:address location="http://localhost/SignalR/ServiceMain.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>